.ant-layout-sider-children {
  img {
    display: flex;
    width: 15rem;
    margin: 0 auto;
    padding: 2rem;
  }
}

.ant-form {
  .ant-col {
    border: none;
    padding: 0.5rem;

    label {
      font-weight: 600;
      width: 15rem;
      text-align: initial;
      display: block;
    }
  }
}
