.ant-col {
  border: 1px solid #999;
  border-radius: 2rem;
  padding: 2rem;
}

.assetContainer {
  gap: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.generalInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  & > div {
    display: flex;
    margin-bottom: 2rem;

    img {
      width: 25rem;
      height: 25rem;
      object-fit: cover;
      margin-right: 2rem;
    }

    p {
      margin-bottom: 0.8rem;

      strong {
        margin-right: 0.5rem;
      }
    }
  }
}

.assetinOperation {
  color: green;
}

.assetinAlert {
  color: red;
}

.assetinDowntime {
  color: gray;
}

.btnAddResponsible {
  margin-bottom: 2rem;
}

.metricsContainer {
  display: flex;
  flex-direction: column;

  .uptimeContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    color: #444;

    .uptime {
      display: flex;
      flex-direction: column;
    }

    .lastUptimeCheck {
      display: flex;
      flex-direction: column;
    }

    & + hr {
      margin-bottom: 2rem;
    }
  }
}
